# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.db
*.sqlite
*.sqlite3
.pytest_cache/
.mypy_cache/
.env
.venv

# Frontend
node_modules/
dist/
dist-ssr/
*.local
frontend/dist/
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/
